<div class="container">
    <div class="p-3 mb-2 bg-secondary">
        <div class="jumbotron">
            <h1 class="color-override text-center text-black">Josh's Burgers</h1>
            <p class="color-override text-center">Eat Da Burger.</p>
            <img class="rounded mx-auto d-block" height="200px" width="250px" src="/assets/image/burgr-hellskitchen.jpg"
                alt="delicious-burger">
            <hr>
            <h2 id="color-override">Make a Burger</h2>
            <br>
            <panel>
                <form class="create-form">
                    <div class="form-group">
                        <label for="newburger" id="color-override">New Burger:</label>
                        <input type="text" id="newburger" name="burger">
                        <button type="submit" class="btn btn-dark" id="addburger">Add Burger</button>
                    </div>
                </form>
            </panel>
        </div>
        <hr>
        <div class="row text-white">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center" id="leftTitle"><strong>New Burgers</strong></div>
                    <div class="panel-body">
                        <ul>
                            {{#each burgers}}
                            {{#unless devoured}}
                            <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                            <button type="button" class="devourBurger btn btn-dark btn-sm" id="devour-button"
                                data-id="{{this.id}}" data-newDevoured="{{devour}}">DEVOUR</button>
                            <hr>
                            {{/unless}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center" id="rightTitle"><strong>Devoured Burgers</strong></div>
                    <div class="panel-body">
                        <ul>
                            {{#each burgers}}
                            {{#if devoured}}
                            <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                            <button type="button" class="deleteBurger btn btn-dark btn-sm" id="delete"
                                data-id="{{this.id}}" data-newDevoured="{{devour}}">DELETE</button>
                            <hr>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>